@import url('./variables.css');

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.22px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    /* max-width: 100%; */
    height: auto;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    padding: 0 120px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    box-sizing: border-box;
    width: 207px;
    height: 71px;
    background: var(--title-color);
    border: 2px solid var(--title-color);
    border-radius: 18px;
    color: var(--contrast-color);
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
}
.arrow-icon {
    fill: var(--minor-primary-color);
}

/* HEADER */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container__logo {
    padding: 26px 0 30px 0;
}
.header-container__logo-img {
    width: 177px;
    height: 50px;
}

.header-nav__list {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
}
.header-nav__item {
    color: var(--title-color);
    padding: 38px 0;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.4px;
}
.header-nav__item:not(:last-child) {
    margin-right: 40px;
}

/* MAIN */
/* hero */

.hero {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background-image: url(/images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* @media screen and(min-width: 1441px) {
    .hero {
        background-size: contain;
    }
} */

.hero__container {
    padding-top: 188px;
    padding-bottom: 260px;
    margin-bottom: 100px;
}

.hero__title {
    width: 595px;
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 80px;
    line-height: 96px;
    margin-bottom: 19px;
}

.hero__text {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 35px;
}
/* tools */
.tools__container {
  margin-bottom: 100px;
  
}
.tools__list{
display: flex;
}

.tools-list__item {
    justify-content: space-between;
    text-align: center;
    padding: 75px 40px 70px 40px;
}
/* .tools-list__item:nth-child(even){
  padding-bottom: 103px;
} */
.tools-list__title{
      font-family: var(--title-font);
      
        font-size: 25px;
        line-height: 39px;
        color: var(--title-color);
        margin-bottom: 17px;
}
.tools-list__text{
  font-size: 22px;
  line-height: 33px; 
  margin-bottom: 50px;
}

/* .tools-list__text:nth-child(even){
  margin-bottom: 15px;
} */
/* .tools-list__text:not(:nth-child(odd)){
  margin-bottom: 15px;
} */

/* aboutUs */

.aboutUs__container{
  display: flex;
  margin-bottom: 140px;
}
.aboutUs__content{
  padding-top: 40px;
  padding-right: 77px;
}
.aboutUs__img{
  width: 592px;
  
}
.aboutUs__title{
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 50px;
    line-height: 65px;
    margin-bottom: 42px;
}
.aboutUs__text{
  font-size: 22px;
    line-height: 33px;
    margin-bottom: 30px;
}
.aboutUs__contacts{
  display: flex;
  flex-direction: column;

}
.aboutUs__phoneIcon{
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background-color: var(--minor-background-color);
  display: flex;
  text-align: center;
  align-items: center;  
  justify-content: center;
  margin-right: 20px;
  border: 1px solid black;
}
.aboutUs__flexContainer{
  border: 1px solid red;
  display: flex;
  align-items: center;

  margin-bottom: 50px;
  
 
}
.aboutUs__contactsFlex{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
 
    justify-content: center;


}
